.layout-logo {
 height: 120px;
 padding: 20px;
 margin: auto;
}

.layout-logo:hover {
 box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.75);
 -webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.75);
 -moz-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.75);
}